body{
    margin: 0;
    height: 100%;
}
.header{
    padding: 15px 0;
    background-color:#ece5e5 ;
}
.header-content{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* border: 1px solid green; */
}
.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}
.logo-content{
    /* border: solid 1px rgb(20, 22, 20); */
}
.emp-text{
    font: normal normal bold 15px/20px Montserrat;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;

}
.emp-payroll{
    color: black;
}
.text-div{
    display: flex;
    flex-direction: column;
}
.form-content{
    min-height: calc(100%-80px);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form{
    width: 60%;
    padding: 44px 60px;
    background: #ffff 0% 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029 ;
    background-color: rgb(252, 252, 252);
   border-radius: 8px;
   opacity: 1;
}
.form-head{
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #55616d;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}
.text{
    font-size: 16px;
    color: gray;
    opacity: 1;
    font-family: Roboto;
}
.lable{
    padding-right: 30px;
}
.input{
   width: 60%;
   padding: 5px;
   border: 1px solid #ccc;
   border-radius: 6px;
   resize: vertical;
}